img {
    width: 320px;
    height: 200px;
    border: 1px solid rgb(158, 158, 158);
    margin: 0;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    height: 78.5%;
    background-color: #d8c4e9;
    border: 1px solid rgb(158, 158, 158);
    padding-top: 50px;
}

a {
    margin: 5px;
    width: 200px;
}

.btn-custom {
    background-color: #6814ac; 
    color: #fff; 
    margin-top: 330px;
    width: 200px;
}

h1 {
    color: black;
    font-family: "Lucida Handwriting", cursive;
    margin-top: 50px;
}


